
    {% if title is not empty or registry('controller').breadcrumb.count() > 1 %}
    <header id="header">

        <div class="ui vertically padded grid page">

            {% if registry('controller').breadcrumb.count() > 1 %}
            <div class="row">
                <div class="column">
                    {{ registry('controller').breadcrumb.render()|raw }}
                </div>
            </div>
            {% endif %}

            {% if title is not empty %}
            <div class="row">
                <div class="column">
                    <h1 class="ui header">{{ title }}</h1>
                </div>
            </div>
            {% endif %}

        </div>

    </header>
    {% endif %}
