/*
    Created on : 04-JUL-2020
    Author     : Ivan Tcholakov
    License    : MIT
*/

@default-assets-path:           "../../../assets/";
@default-semantic-path:           "@{default-assets-path}composer-asset/fomantic/ui/src/";

/* Global */
& { @import "@{default-semantic-path}definitions/globals/reset"; }
& { @import "@{default-semantic-path}definitions/globals/site"; }

/* Elements */
& { @import "@{default-semantic-path}definitions/elements/button"; }
/*
& { @import "@{default-semantic-path}definitions/elements/container"; }
& { @import "@{default-semantic-path}definitions/elements/divider"; }
& { @import "@{default-semantic-path}definitions/elements/emoji"; }
& { @import "@{default-semantic-path}definitions/elements/flag"; }
& { @import "@{default-semantic-path}definitions/elements/header"; }
& { @import "@{default-semantic-path}definitions/elements/icon"; }
& { @import "@{default-semantic-path}definitions/elements/image"; }
& { @import "@{default-semantic-path}definitions/elements/input"; }
& { @import "@{default-semantic-path}definitions/elements/label"; }
& { @import "@{default-semantic-path}definitions/elements/list"; }
& { @import "@{default-semantic-path}definitions/elements/loader"; }
& { @import "@{default-semantic-path}definitions/elements/placeholder"; }
& { @import "@{default-semantic-path}definitions/elements/rail"; }
& { @import "@{default-semantic-path}definitions/elements/reveal"; }
& { @import "@{default-semantic-path}definitions/elements/segment"; }
& { @import "@{default-semantic-path}definitions/elements/step"; }
& { @import "@{default-semantic-path}definitions/elements/text"; }
*/

/* Collections */
/*
& { @import "@{default-semantic-path}definitions/collections/breadcrumb"; }
& { @import "@{default-semantic-path}definitions/collections/form"; }
& { @import "@{default-semantic-path}definitions/collections/grid"; }
& { @import "@{default-semantic-path}definitions/collections/menu"; }
& { @import "@{default-semantic-path}definitions/collections/message"; }
& { @import "@{default-semantic-path}definitions/collections/table"; }
*/

/* Views */
/*
& { @import "@{default-semantic-path}definitions/views/ad"; }
& { @import "@{default-semantic-path}definitions/views/card"; }
& { @import "@{default-semantic-path}definitions/views/comment"; }
& { @import "@{default-semantic-path}definitions/views/feed"; }
& { @import "@{default-semantic-path}definitions/views/item"; }
& { @import "@{default-semantic-path}definitions/views/statistic"; }
*/

/* Modules */
/*
& { @import "@{default-semantic-path}definitions/modules/accordion"; }
& { @import "@{default-semantic-path}definitions/modules/calendar"; }
& { @import "@{default-semantic-path}definitions/modules/checkbox"; }
& { @import "@{default-semantic-path}definitions/modules/dimmer"; }
& { @import "@{default-semantic-path}definitions/modules/dropdown"; }
& { @import "@{default-semantic-path}definitions/modules/embed"; }
& { @import "@{default-semantic-path}definitions/modules/modal"; }
& { @import "@{default-semantic-path}definitions/modules/nag"; }
& { @import "@{default-semantic-path}definitions/modules/popup"; }
& { @import "@{default-semantic-path}definitions/modules/progress"; }
& { @import "@{default-semantic-path}definitions/modules/slider"; }
& { @import "@{default-semantic-path}definitions/modules/rating"; }
& { @import "@{default-semantic-path}definitions/modules/search"; }
& { @import "@{default-semantic-path}definitions/modules/shape"; }
& { @import "@{default-semantic-path}definitions/modules/sidebar"; }
& { @import "@{default-semantic-path}definitions/modules/sticky"; }
& { @import "@{default-semantic-path}definitions/modules/tab"; }
& { @import "@{default-semantic-path}definitions/modules/toast"; }
& { @import "@{default-semantic-path}definitions/modules/transition"; }
*/
