{% extends 'default_layout.html.twig' %}

{% block content %}

                        <h2>You are using: {{ your_browser }}</h2>

                        <p>See <a href="https://github.com/WhichBrowser/Parser" target="_blank" rel="noopener">https://github.com/WhichBrowser/Parser</a></p>

{% endblock %}
